<ion-header [translucent]="true">
  <ion-tollbar>
    <ion-title>
      Home
    </ion-title>
  </ion-tollbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-tollbar>
      <ion-title size="large">Home</ion-title>
    </ion-tollbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <br>
        <br>
        <br>
        <ion-card-subtitle>welcome</ion-card-subtitle>
        <ion-card-title>first mobile app</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        First mobile app
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>